[submodule "provisionning/roles/ansible-role-mysql"]
	path = provisionning/roles/ansible-role-mysql
	url = git@github.com:geerlingguy/ansible-role-mysql.git
[submodule "provisionning/roles/apache2"]
	path = provisionning/roles/apache2
	url = git@github.com:abdoulinho00/ansible-apache2.git
